
<title>Modif Utilisateur</title>


{{ include('form/form.html.twig')}}

<a href="{{ path('show-user', {'id': user.id}) }}">Profil Utilisateur</a>

{{ include('users/_delete_form.html.twig') }}
<a href="{{ path('list-user') }}">Liste utilisateurs</a>



