
<title>Modif Utilisateur</title>

<h1>Modif Utilisateur</h1>
<a href="{{ path('show-user', {'id': user.id}) }}">Profil Utilisateur</a>
{{ include('users/_delete_form.html.twig') }}
<a href="{{ path('list-user') }}">Liste utilisateur</a>

{{ include('form/updateUser.html.twig')}}




